**/node_modules
**/dist
**/.cache
**/.next
**/*.log
**/*.cpuprofile
**/*.heapsnapshot
.git
.gitignore
.cursorignore
.vscode
.idea
highspell-dumps
vscode-profile-*.cpuprofile
vscode-profile-*.heapsnapshot

# Exclude static assets that are uploaded to R2 bucket
apps/shared-assets/*/static
apps/shared-assets/*/js/client/client.*.js
apps/shared-assets/*/js/client/development.client.*.js
apps/shared-assets/*/shared.env

# ChunkHound
.chunkhound
.chunkhound.json