**/node_modules
**/dist
**/.cache
**/.next
**/*.log
**/*.cpuprofile
**/*.heapsnapshot
.git
.gitignore
.cursorignore
.vscode
.idea
highspell-dumps
vscode-profile-*.cpuprofile
vscode-profile-*.heapsnapshot
